@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2');
}

.page {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page__body {
    min-height: 100vh;
    box-sizing: inherit;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
    background-color: #ffffff;
}

a {
    color: #02535f;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

.page__main {
    margin: 0 auto;
}

.main {
    max-width: 1440px;
    padding: 0 180px;
}

.main__section {
    margin-bottom: 50px;
}

.section__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 36px;
}

.section__subtitle {
    margin-bottom: 30px;
}

.section__subtitle:last-child {
    margin-bottom: 0;
}

.intro__container {
    padding: 60px 0 50px;
}

.intro__title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 72px;
}

.intro__subtitle {
    margin-bottom: 30px;
}

.intro__subtitle:last-child {
    margin-bottom: 0;
}

.main__section--background {
    width: 1140px;
    min-height: 215px;
    margin-left: -30px;
    padding: 24px 45px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.section__title--content {
    margin-bottom: 20px;
}

.section__list {
    padding-left: 20px;
}

.section__item {
    margin-bottom: 10px;
}

.section__item:last-child {
    margin-bottom: 0;
}

.section__wrapper {
    min-height: 415px;
    margin-bottom: 30px;
}

.section__wrapper--short {
    min-height: 279px;
}

.section__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.section__image:last-child {
    margin-bottom: 0;
}

.section__img--float-left {
    margin-right: 30px;
    margin-bottom: 0;
    float: left;
}

.section__img--float-right {
    margin-left: 40px;
    margin-bottom: 0;
    float: right;
}

.section__image--figure-image {
    margin-bottom: 15px;
}

.section__figure {
    margin-bottom: 30px;
    border: 1px solid #000000;
}

.section__figcaption {
    margin-bottom: 15px;
    padding: 0 30px 0;
    color: #5e5e5e;
}

.section__list--no-style {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}